#heading{
    background:#4180B0;
    color:#ffd94f;

}
#heading h2{
    padding-top:10px;
    margin:0;
}
#heading .btn-group{
    margin:10px 0;
}
.container{
    padding:0 10px;
    margin:0px;
    width:100%;
}

.dropdown-menu{
    color:#4180B0;
}
#heading a {

  color:inherit;
  text-decoration: none;
 }
#content {
    overflow:auto;
    padding-bottom:50px;

}
#content h1{
    color:#4180B0;
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#content {
   /* this needs to be bigger than footer height*/
}

.footer {
    background:#4180B0;
    color:#ffd94f;
    padding-left: 10px;
  position: relative;
  margin-top: -50px; /* negative value of footer height */
  height: 50px;
  clear:both;

}
.footer h3{
    padding-left:10px;
    margin:12.5px 0;
}
.footer a {
    color:#ffd94f;
}